<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="ConvertKit API Tests">
            <directory>tests</directory>
            <exclude>tests/ConvertKitAPITest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
